<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>22 JSON</title>
</head>
<body>

<ul class="persons">
 <script id="template" type="text/x-handlebars-template">
 </script>
</ul>

<button>aasasas AJAX</button>

</body>
</html>